{
  "public" : {
    "ga": {
      "account": "UA-XXXXXXX-Y"
    }
  },
  "galaxy.meteor.com": {
    "env": {
      "MONGO_URL": "mongodb://<user>:<password>@ds159509.mlab.com:59509/letsqr"
    }
  }
}
