<template name="history">
  <h3>História</h3>
  <div id="input-history" class="panel-group" role="tablist" aria-multiselectable="true">
    {{#each inputs}}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_{{_id}}">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#input-history" href="#collapse_{{_id}}" aria-expanded="false" aria-controls="collapse_{{_id}}">
              {{value}}
            </a>
          </h4>
        </div>
        <div id="collapse_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labeledby="heading_{{_id}}">
          <div class="panel-body">
            <p><b>typ:</b> {{type}}</p>
            <p><b>dátum:</b> {{formatDate createdAt}}</p>
            <a class="show-code btn btn-info btn-xs" href="#" title="Zobraziť QR kód">
              <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
              Ukáž QR!
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>
